<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Adventure</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <h1>{{.Title}}</h1>

  <div>
    <p>{{.Story}}</p>
  </div>

  <div>
    <ul>
      {{range .Options}}
      <div>
        <p>{{.Text}}</p>
      </div>
      <div>
        <p>Go To <a href="{{.Arc}}"> {{ .Arc | Titleize}} </a></p>
      </div>
      {{end}}
      <div>
        <p>Go To <a href="/"> Beginning </a></p>
      </div>
    </ul>
  </div>

</body>

</html>